<!DOCTYPE html>
<html lang="en">

<%- include('../template/head.ejs',{title:'GENERATIVE ART PLAYGROUND'})%>

<body>
  <div class="centered landing-bg text-white">
    <h1 class="title title--main">GENERATIVE ART</h1>
    <h2 class="title title--sub">PLAYGROUND</h2>
  </div>
</body>

</html>