@import 'util/main';

.centered {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.landing-bg {
  background-color: #000;
}

.text-white {
  color: white;
}

.title {
  &--main {
    font-size: 50px;
    font-weight: 700;
  }

  &--sub {
    font-size: 50px;
    font-weight: 300;
  }
}

.title+.title {
  margin-top: 10px;
}